body{
    background-color: #141414;
    overflow-x: hidden;
    position: relative;
}

.netflix-navbar{
    background-color: #0c0c0c;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    transition: background 0.2s linear;
}